body {
    width: 100%;

    /* view port height */
    height: 100vh;
    /* removing default horizontal scrollbar */
    margin: 0;

    /* color manipulation of text and background */
    background-color: #1b1b32;
    color: #f5f6f7;
}

label {
    /* makes label elements appear on separate lines */
    display: block;
    /* separates elements from each other */
    margin: 0.5rem 0;
}

h1, p {
    text-align: center;
    margin: 1em auto;
}

form {
    margin: 0 auto;
    max-width: 500px;
    min-width: 300px;
    width: 60vw;
}

fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #3b3b4f;

}